@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1{
    letter-spacing: 3px;
    word-spacing: 6px;
    margin:10px 0 0 0;
}

body{
    margin:0;
    background:whitesmoke;
    text-align:center;
}

.loading-image{
    position:fixed;
    top:50%;
    bottom:50%;
    transform: translate(-50%, -50%);
}